:root {
  /* Colors */
  --clr-primary-700: #05445e;
  --clr-primary-400: #189ab4;
  --clr-primary-300: #75e6da;
  --clr-primary-100: #d4f1f4;
  --clr-body: #000000;

  /* Fonts */
  --ff-body: 'Raleway', sans-serif;

  /* Spacing */
  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 40px;

  /* Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* Typography */
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-base: 1.5;

  /* Border radius */
  --border-radius: 0.25rem;

  /* Transition */
  --transition: all 0.3s ease;

  /*navbar height*/
  --navbar-height: auto;

  /*sidebar width*/
  --sidebar-width: 200px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(2.5rem, 6vw, 3.6rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 2.8rem) z;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h4 {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

h5,
p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}

input,
button {
  font: inherit;
}

button {
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  --_padding: var(--spacing-1);
  --_max-width: var(--container-max-width, 1200px);
  width: min(100% - var(--_padding) * 2, var(--_max-width));
  margin-inline: auto;
}

.loader {
  color: yellow;
}
