.input_group {
  margin-bottom: 15px;
  width: 100%;
}

.input_group label {
  display: block;
  margin-bottom: 5px;
}

.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input_group button {
  width: 100%;
  padding: 10px;
  background-color: #189ab4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.input_group button:hover {
  background-color: #05445e;
}

.fallback button {
  color: var(--clr-primary-700);
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.fallback button:hover {
  text-decoration: underline;
}
