.register_page {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.header {
  background-color: var(--clr-primary-700);
  color: white;
  text-align: center;
  padding: var(--spacing-3);
}

.register_page main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fallback {
  margin-top: var(--spacing-1);
  text-align: center;
}

.fallback button {
  color: var(--clr-primary-700);
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.fallback button:hover {
  text-decoration: underline;
}
