.form_wrapper {
}

.role_buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 16px;
}

.role_buttons .active {
  background-color: #05445e;
  color: white;
}

#register_btn_student {
  background-color: #05445e;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
}

.input_group {
  margin-bottom: 15px;
  width: 100%;
}

.input_group label {
  display: block;
  margin-bottom: 5px;
}

.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.step_navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 15px;
}

.step_navigation button {
  width: 100%;
  padding: 10px;
  background-color: #189ab4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.steps_indicator {
  font-size: 12px;
  text-align: right;
}

#next_btn {
  width: 100%;
  padding: 10px 20px;
  margin-top: var(--spacing-1);
  border: none;
  border-radius: 10px;
  background-color: #189ab4;
  color: #fff;
  cursor: pointer;
}

/* -*********************************************************- */
/* Opciones de interes para el estudiante */

.input_row.interests {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input_group.interests {
  margin: 0 5px;
  text-align: center;
}
.input_group.interests .interest_label {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

/* Estilo para cuando la etiqueta está seleccionada */
.input_group.interests input[type='checkbox']:checked + .interest_label,
.input_group.interests .interest_label:hover {
  background-color: var(--clr-primary-700);
  border-color: var(--clr-primary-700);
}

/* Ocultar los checkboxes */
.input_group.interests input[type='checkbox'] {
  display: none;
}
/* Centrar el texto dentro de las etiquetas */
.input_group.interests .interest_label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* -*********************************************************- */
